#mainContent{
    width:1000px;
    margin: auto;
    text-align: center;
}

#navigator{
    width:1000px;
    margin: auto;
    text-align: center;
}

#navigator_ul li{
    width: 25%;
}

html {
    background-color: #7c8d73;
}