#mainContent{
    width:1000px;
    margin: auto;
    text-align: center;
}

#navigator{
    width:1000px;
    margin: auto;
    text-align: center;
}

#navigator_ul li{
    width: 20%;
}

html{
    background-color: #92B8B1;
}