<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.ftzp.mapper.lc.vote.VotingMapper">



    <select id="getOIdFromVotingByVIdAndVuIP" resultType="java.lang.Integer">
        select oId
        from voting
        where vId = #{vId}
          and vuIP = #{vuIP}
    </select>

    <insert id="insertVoting">
        insert into voting(vId, oId, vuIP)
        values (#{vId}, #{oId}, #{vuIP})
    </insert>

    <delete id="deleteVotingByVId">
        delete
        from voting
        where vId = #{vId}
    </delete>


</mapper>