<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.ftzp.mapper.lc.PermissionMapper">

    <select id="getPermission" resultType="com.ftzp.pojo.lc.Permission">
        select * from permission
        <where>
            <if test="pId!=null">and pId = #{pId}</if>
        </where>
    </select>

    <select id="getPermissionByList" resultType="com.ftzp.pojo.lc.Permission">
        SELECT *
        from permission
        WHERE pId IN
        <foreach collection="list" item="pId" open="(" close=")" separator=",">
            #{pId}
        </foreach>
    </select>

    <insert id="insertPermission" useGeneratedKeys="true" keyProperty="pId">
        insert into permission(pName, pSrc)
        values (#{pName}, #{pSrc})
    </insert>

    <update id="updatePermission">
        update permission
        set pName = #{pName},
            pSrc  = #{pSrc}
        where pId = #{pId}
    </update>

    <delete id="deletePermission">
        delete
        from permission
        where pId = #{pId};
    </delete>

</mapper>