<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.ftzp.mapper.lc.RoleMapper">

    <select id="getRole" resultType="com.ftzp.pojo.lc.Role">
        select * from role
        <where>
            <if test="rId!=null">and uId = #{rId}</if>
        </where>
    </select>

    <insert id="insertRole" useGeneratedKeys="true" keyProperty="wId">
        insert into role(rName, rPermission)
        values (#{rName}, #{rPermission})
    </insert>


</mapper>