<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.ftzp.mapper.lc.workflow.WorkStepMapper">

    <select id="getWorkStep" resultType="com.ftzp.pojo.lc.workflow.WorkStep">
        select *
        from workstep
        where wfId = #{wfId}
    </select>

    <insert id="insertWorkStep" keyProperty="wsId" useGeneratedKeys="true">
        insert into workstep(wsName, wfId, ranking, rId, wsdesc)
        VALUES (#{wsName}, #{wfId}, #{ranking}, #{rId}, #{wsdesc})
    </insert>

    <delete id="deleteWorkStep">
        delete
        from workstep
        where wfId = #{wfId}
    </delete>
</mapper>