<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.ftzp.mapper.lc.workflow.WorkMapper">

    <select id="getWork" resultType="com.ftzp.pojo.lc.workflow.Work">
        select *
        from work
        <where>
            <if test="wId!=null">and wId = #{wId}</if>
        </where>
    </select>

    <select id="getWorkByUId" resultType="com.ftzp.pojo.lc.workflow.Work">
        select *
        from work
        where uId = #{uId}
    </select>

    <insert id="insertWork" useGeneratedKeys="true" keyProperty="wId">
        insert into work(wfId, ranking, wdesc, wFile, wLength, uId ,wPostTime,wLastDoTime)
        values (#{wfId}, 1, #{wdesc}, #{wFile}, #{wLength}, #{uId},#{wPostTime},#{wLastDoTime})
    </insert>

    <delete id="deleteWork">
        delete
        from work
        where wId = #{wId}
    </delete>

    <update id="updateWork">
        update work
        set ranking = #{ranking},
            wFile   = #{wFile},
            wLastDoTime = #{wLastDoTime}
        where wId = #{wId}
    </update>

</mapper>