<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.ftzp.mapper.lc.user.UserMapper">

    <select id="getUser" resultType="com.ftzp.pojo.lc.user.User">
        select * from user
        <where>
            <if test="uId!=null">and uId = #{uId}</if>
        </where>
    </select>

    <select id="checkUser" resultType="com.ftzp.pojo.lc.user.User">
        select *
        from user
        where uName = #{uName}
          and uPass = #{uPass}
    </select>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="uId">
        insert into user(uName, uPass, rId)
        values (#{uName}, #{uPass}, #{rId})
    </insert>


    <delete id="deleteUser">
        delete
        from user
        where uId = #{uId};
    </delete>

    <update id="updateUser">
        update user
        set uName=#{uName},
            uPass=#{uPass},
            rId=#{rId}
        where uId = #{uId}
    </update>

</mapper>